.solve-btn{
    position: relative;
    overflow: hidden;
    background-color: var(--blue);
    color: var(--tx-primary);
    font: var(--f-bodyBold);
    border-radius: 9px;
    padding: 12px 32px;
    margin-top: 8px;
    transition: all .2s;

    &:hover{
        background-color: var(--darkBlue);
    }
}

span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: var(--lightBlue);
  }
  
  @keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }