#input{
    background-color: var(--bg-secondary);
    padding: 16px;
    margin-bottom: 32px;
    border-radius: 18px;
    box-shadow: var(--box-shadow);
    font: var(--f-bodyBold);

    & header {
        margin-bottom: 16px;
        & h1{
            font: var(--f-title3);
        }
    }

    @include tablet{
        margin:16px;
        width: 40%;
    }

    @include desktop{
        margin:16px;
        width: 40%;
    }
}