html[data-theme='dark']{
    //colors
    --blue: var(--blue5);
    --lightBlue: var(--blue8);
    --darkBlue: var(--blue3);
    --gray:var(--gray3);
    --lightGray:var(--gray4);;

    --pink:var(--pink5);
    --green:var(--green2);
    --orange:var(--orange5);
    --purple:var(--purble5);

    //backgrounds
    --bg-primary:var(--gray1);
    --bg-secondary:var(--gray2);
    --bg-tertiary:var(--gray3);

    //text
    --tx-primary:var(--gray11);
    --tx-secondary:var(--gray6);

}