.header{
    height: 64px;
    background-color: var(--bg-secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 32px;
    box-shadow: var(--box-shadow);
}