main{
    padding: 16px;
    height: 200vh;
    @include tablet{
        display: flex;
        align-items: baseline;
        justify-content: center;
    }

    @include desktop{
        display: flex;
        align-items: baseline;
        justify-content: center;
    }
}