.logo-container{
    @extend %flex-center-center;
    & svg{
        fill:var(--blue-on-color);
        @extend %flex-center-center;
        margin-right: 8px;
    }
    & .title{
        font: var(--f-bodyBold);
        color: var(--tx-primary);
    }
}