:root {
  --white:#ffffff;
  --black:#000000;
  --gray1:#0f0d15;
  --gray2:#1d1929;
  --gray3:#34303e;
  --gray4:#4a4754;
  --gray6:#77757f;
  --gray8:#A5A3A9;
  --gray10:#d2d1d4;
  --gray11:#e8e8ea;
  --gray12:#f9f9f9;
  --blue:#3363FF;
  --dark-blue:#003cff;
  --light-blue:#4d77ff;
  --pink:#fb339b;
  --green:#34C759;
  --orange:#ff8b34;
  --purble:#e18cf9;
  --bx-shad: rgb(0 0 0 / 10%) 0px 0px 2px, rgb(15 91 206 / 10%) 0px 2px 32px;
  --mainFont: "Nunito Sans", sans-serif;
}

.modal-overly .moadl, .modal-overly, .table-section, .cpu-utilization-container .chart-details .detial, .cpu-utilization-container, .logo-container svg, .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
@-webkit-keyframes progress {
  0% {
    stroke: transparent;
    stroke-dasharray: 0 100;
  }
}
@keyframes progress {
  0% {
    stroke: transparent;
    stroke-dasharray: 0 100;
  }
}
:root {
  --f-title1: normal normal 700 60px/72px var(--mainFont);
  --f-title2: normal normal 700 48px/56px var(--mainFont);
  --f-title3: normal normal 800 34px/40px var(--mainFont);
  --f-headLine: normal normal 800 24px/32px var(--mainFont);
  --f-subHeadLine: normal normal 700 18px/32px var(--mainFont);
  --f-body: normal normal 400 16px/24px var(--mainFont);
  --f-bodyBold: normal normal 700 16px/24px var(--mainFont);
  --f-bodySmall: normal normal 400 14px/24px var(--mainFont);
  --f-buttonLarge: normal normal 700 16px/24px var(--mainFont);
  --f-caption:normal normal 600 12px/16px var(--mainFont);
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background-color: var(--bg-primary);
  color: var(--tx-primary);
  font-family: var(--mainFont);
}

body,
button,
input,
details summary.radios {
  font-family: var(--mainFont);
}

body {
  margin: 0;
  transition: all 0.2s; /*For animation dark mode*/
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

html[data-theme=light] {
  --light:var(--gray12);
  --dark:var(--gray3);
  --gray:var(--gray11);
  --light-gray:var(--gray11);
  --blue-switch:var(--blue);
  --bg-primary:var(--gray12);
  --bg-secondary:var(--white);
  --bg-tertiary:var(--white);
  --tx-primary:var(--gray1);
  --tx-primary-rev:var(--white);
  --tx-secondary:var(--gray6);
  --border-table: solid 1px var(--gray10);
  --box-shadow:var(--bx-shad);
}

html[data-theme=dark] {
  --light:var(--gray11);
  --dark:var(--gray3);
  --gray:var(--gray3);
  --light-gray:var(--gray4);
  --blue-switch:var(--light-blue);
  --bg-primary:var(--gray1);
  --bg-secondary:var(--gray2);
  --bg-tertiary:var(--gray3);
  --tx-primary:var(--gray11);
  --tx-primary-rev:var(--black);
  --tx-secondary:var(--gray6);
  --border-table: solid 1px var(--gray4);
  --bx-shad:none;
}

.header {
  height: 64px;
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 32px;
  box-shadow: var(--box-shadow);
}

main {
  padding: 16px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  main {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  main {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}

.switch {
  position: relative;
}
.switch__input {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.switch__label {
  display: block;
  position: relative;
  width: 64px;
  height: 32px;
  background-color: var(--dark);
  border-radius: 25px;
  transition: 0.4s;
}
.switch__label::before {
  content: "\f185";
  font-family: "Font Awesome 5 Free";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: auto;
  left: 0;
  bottom: 0;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 2px var(--dark) solid;
  background-color: var(--light);
  color: var(--dark);
  transition: 0.4s;
  font-weight: 900;
  box-sizing: border-box;
}
.switch__input:checked + .switch__label {
  background-color: var(--light);
}
.switch__input:checked + .switch__label::before {
  content: "\f186";
  font-family: "Font Awesome 5 Free";
  left: calc(100% - 32px);
  border-color: var(--light);
  background-color: var(--dark);
  color: var(--light);
}

.logo-container svg {
  fill: var(--blue-switch);
  margin-right: 8px;
}
.logo-container .title {
  font: var(--f-bodyBold);
  color: var(--tx-primary);
}

.input-field {
  margin-bottom: 16px;
}
.input-field label {
  font: var(--f-bodySmall);
}
.input-field:not(.select-algo-box, #arrivalTimeField, #burstTimeField) {
  display: none;
}
.input-field input {
  height: 56px;
  width: 100%;
  padding: 8px 16px;
  background-color: var(--bg-secondary);
  color: var(--tx-primary);
  border: 2px solid var(--gray);
  border-radius: 18px;
  font: var(--f-bodySmall);
  /* Remove focus outline */
  /* Remove IE arrow */
}
.input-field input:focus {
  outline: none;
  border: 2px solid var(--blue);
}
.input-field input::-ms-expand {
  display: none;
}
.input-field input:-webkit-autofill, .input-field input:-webkit-autofill:hover, .input-field input:-webkit-autofill:focus, .input-field input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

.solve-btn {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: var(--blue);
  color: var(--white);
  font: var(--f-bodyBold);
  border-radius: 9px;
  padding: 12px 32px;
  margin-top: 8px;
  transition: all 0.2s;
}
.solve-btn:hover {
  background-color: var(--dark-blue);
}
.solve-btn span {
  position: absolute;
}
.solve-btn span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: var(--light-blue);
}
@media (max-width: 599px) {
  .solve-btn:hover {
    background-color: var(--blue);
  }
}

.select-field {
  margin-bottom: 16px;
}
.select-field label {
  font: var(--f-bodySmall);
}
.select-field details {
  position: relative;
  width: 100%;
  margin-right: 1rem;
  border: 2px solid var(--gray);
  border-radius: 18px;
  /* FAKE SELECT */
}
.select-field details[open] {
  z-index: 1;
  border: 2px solid var(--blue);
}
.select-field details summary {
  padding: 1rem;
  cursor: pointer;
  border-radius: 18px;
  background-color: var(--bg-secondary);
  list-style: none;
}
.select-field details summary:focus {
  outline: none;
}
.select-field details summary input {
  color: var(--tx-primary);
}
.select-field details summary input[type=radio] {
  counter-increment: radios;
  appearance: none;
  display: none;
}
.select-field details summary input[type=radio]:checked {
  display: inline;
  --display: block;
}
.select-field details summary input[type=radio]:after {
  content: attr(title);
  display: inline;
  font: var(--f-bodySmall);
  cursor: pointer;
}
.select-field details summary::-webkit-details-marker {
  display: none;
}
.select-field details[open] summary:before {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
}
.select-field details summary:after {
  content: "";
  display: block;
  position: absolute;
  right: 16px;
  top: 50%;
  width: 0.5rem;
  height: 0.5rem;
  border-bottom: 2px solid var(--tx-secondary);
  border-left: 2px solid var(--tx-secondary);
  border-bottom-left-radius: 2px;
  transform: rotate(-45deg) translate(50%, -50%);
  transform-origin: center center;
}
.select-field details ul {
  width: 100%;
  background: var(--bg-tertiary);
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  padding: 8px 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: var(--box-shadow);
}
.select-field details ul li {
  margin: 0;
  padding: 0px 16px;
  color: var(--tx-primary);
  font: var(--f-bodySmall);
  border-bottom: 1px solid var(--light-gray);
}
.select-field details ul li:hover {
  background-color: var(--light-gray);
}
.select-field details ul li label {
  padding: 8px 0px;
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}
.select-field details ul li label span {
  --display: none;
  display: var(--display);
  width: 1rem;
  height: 1rem;
  border: 1px solid #727272;
}
.select-field details ul li:first-child {
  padding-top: 0;
}
.select-field details ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.select-field details summary.radios {
  counter-reset: radios;
}
.select-field details summary.radios:before {
  content: var(--selection);
}
.select-field details ul.list {
  counter-reset: labels;
}

#input {
  background-color: var(--bg-secondary);
  padding: 16px;
  margin-bottom: 32px;
  border-radius: 18px;
  box-shadow: var(--box-shadow);
  font: var(--f-bodyBold);
}
#input header {
  margin-bottom: 16px;
}
#input header h1 {
  font: var(--f-title3);
}
@media (min-width: 768px) and (max-width: 1023px) {
  #input {
    margin: 16px;
    width: 40%;
  }
}
@media (min-width: 1024px) {
  #input {
    margin: 16px;
    width: 40%;
  }
}

#output {
  background-color: var(--bg-secondary);
  padding: 16px;
  margin-bottom: 32px;
  border-radius: 18px;
  box-shadow: var(--box-shadow);
  font: var(--f-bodyBold);
  overflow: hidden;
}
#output header {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#output header h1 {
  font: var(--f-title3);
}
#output header .algorith-badge {
  background-color: var(--gray);
  padding: 8px 16px;
  border-radius: 9px;
  font: var(--f-bodySmall);
}
#output .output-body p {
  color: var(--tx-secondary);
}
@media (min-width: 768px) and (max-width: 1023px) {
  #output {
    margin: 16px;
    width: 60%;
  }
}
@media (min-width: 1024px) {
  #output {
    margin: 16px;
    width: 60%;
  }
}

.ganttchart-section {
  padding: 16px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--gray);
}
.ganttchart-section h1 {
  text-align: center;
  color: var(--tx-secondary);
}
.ganttchart-section .ganttchart-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ganttchart-section .ganttchart-container .jobs-container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 24px 16px 32px 16px;
}
.ganttchart-section .ganttchart-container .jobs-container .job {
  display: block;
  position: relative;
  padding: 8px 16px;
  color: var(--white);
  opacity: 0;
}
.ganttchart-section .ganttchart-container .jobs-container .job::before, .ganttchart-section .ganttchart-container .jobs-container .job::after {
  color: var(--tx-primary);
  font: var(--f-bodySmall);
  position: absolute;
  bottom: -24px;
}
.ganttchart-section .ganttchart-container .jobs-container .job::before {
  content: attr(data-startTime);
  left: 0;
  transform: translateX(-50%);
}
.ganttchart-section .ganttchart-container .jobs-container .job:last-child::after {
  content: attr(data-stopTime);
  right: 0;
  transform: translateX(50%);
}
.ganttchart-section .ganttchart-container .jobs-container .job.wasteTime {
  color: var(--tx-primary);
  background-color: var(--gray);
}

.cpu-utilization-container {
  border-bottom: 1px solid var(--gray);
  padding: 16px 0;
}
.cpu-utilization-container .chart .circular-chart {
  display: block;
  margin: 8px auto;
  width: 80px;
}
.cpu-utilization-container .chart .circular-chart .circle-bg {
  fill: none;
  stroke: var(--gray);
  stroke-width: 4;
}
.cpu-utilization-container .chart .circular-chart .circle {
  fill: none;
  stroke: var(--blue-switch);
  stroke-width: 4;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}
.cpu-utilization-container .chart .circular-chart .percentage {
  fill: var(--tx-secondary);
  font: var(--f-bodySmall);
  font-size: 8px;
  text-anchor: middle;
}
.cpu-utilization-container .chart-details {
  padding-left: 24px;
}
.cpu-utilization-container .chart-details .detial {
  justify-content: space-between;
}
.cpu-utilization-container .chart-details .detial:nth-child(1) {
  padding-bottom: 8px;
}
.cpu-utilization-container .chart-details .detial .dot {
  width: 16px;
  height: 16px;
  border-radius: 4px;
}
.cpu-utilization-container .chart-details .detial .dot-cpu-utilization {
  background-color: var(--blue-switch);
}
.cpu-utilization-container .chart-details .detial .dot-idle-time {
  background-color: var(--gray);
}
.cpu-utilization-container .chart-details .detial p {
  flex: 1;
  padding-left: 8px;
  color: var(--tx-primary) !important;
}
.cpu-utilization-container .chart-details .detial .value {
  color: var(--tx-secondary);
  padding-left: 16px;
  font: var(--f-bodyBold);
}

.table-section .table-container {
  display: flex;
  justify-content: start;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 16px 0px;
}
.table-section .table-container table {
  border: none;
  border-collapse: collapse;
  border: var(--border-table);
  white-space: nowrap;
  text-align: center;
}
.table-section .table-container table td, .table-section .table-container table th {
  border: var(--border-table);
}
.table-section .table-container table thead tr th {
  padding: 8px 16px;
  background-color: var(--gray);
}
.table-section .table-container table tbody tr, .table-section .table-container table tfoot tr {
  font: var(--f-bodySmall);
}
.table-section .table-container table tbody tr, .table-section .table-container table tbody td, .table-section .table-container table tfoot tr, .table-section .table-container table tfoot td {
  padding: 8px 8px;
}

.modal-overly {
  background-color: var(--overly);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
}
.modal-overly-show {
  opacity: 0.5;
}

/*# sourceMappingURL=main.css.map */
