html[data-theme='dark']{
  //colors

  --light:var(--gray11);
  --dark:var(--gray3);

  --gray:var(--gray3);
  --light-gray:var(--gray4);
  --blue-switch:var(--light-blue);

  //backgrounds
  --bg-primary:var(--gray1);
  --bg-secondary:var(--gray2);
  --bg-tertiary:var(--gray3);

  //text
  --tx-primary:var(--gray11);
  --tx-primary-rev:var(--black);
  --tx-secondary:var(--gray6);

  --border-table: solid 1px var(--gray4);

  --bx-shad:none;
}