html[data-theme='light']{
    //colors
    --light:var(--gray12);
    --dark:var(--gray3);

    --gray:var(--gray11);
    --light-gray:var(--gray11);
    --blue-switch:var(--blue);

  --red:var(--red-l);


  --overly:var(--overly-l);

    //backgrounds
    --bg-primary:var(--gray12);
    --bg-secondary:var(--white);
    --bg-tertiary:var(--white);

    //text
    --tx-primary:var(--gray1);
    --tx-primary-rev:var(--white);
    --tx-secondary:var(--gray6);

    --border-table: solid 1px var(--gray10);

    --box-shadow:var(--bx-shad);

}