html[data-theme='light']{
    //colors
    --light:var(--gray12);
    --dark:var(--gray3);

    --blue: var(--blue5);
    --lightBlue: var(--blue8);
    --darkBlue: var(--blue3);
    --gray:var(--gray11);
    --lightGray:var(--gray11);;

    --pink:var(--pink5);
    --green:var(--green2);
    --orange:var(--orange5);
    --purple:var(--purble5);

    //backgrounds
    --bg-primary:var(--gray12);
    --bg-secondary:var(--white);
    --bg-tertiary:var(--white);

    //text
    --tx-primary:var(--gray1);
    --tx-primary-rev:var(--white);
    --tx-secondary:var(--gray6);

    --border-table: solid 1px var(--gray10);

    --box-shadow:var(--bx-shad);

    --blue-on-color:var(--blue);
}