#output{
    background-color: var(--bg-secondary);
    padding: 16px;
    margin-bottom: 32px;
    border-radius: 18px;
    box-shadow: var(--box-shadow);
    font: var(--f-bodyBold);
    overflow: hidden;
    & header {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & h1{
            font: var(--f-title3);
        }

        & .algorith-badge{
            background-color: var(--gray);
            padding: 8px 16px;
            border-radius: 9px;
            font: var(--f-bodySmall);
        }
    }
    & .output-body{
        & p{
            color: var(--tx-secondary);
        }
    }
    @include tablet{
        margin:16px;
        width: 60%;
    }

    @include desktop{
        margin:16px;
        width: 60%;
    }
}