// each container should have it
%center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

%flex-center-center{
    display: flex;
    align-items: center;
    justify-content: center;
}